<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder">
            <customFields>{"appname":"myWebservice","roles":["customerorder","auth"],"buildinfo.version":"Version 0.1.0-SNAPSHOT","buildinfo.lastcommit":"75473700d5befa953c45f630c6d9105413c16fe1"}</customFields>
        </encoder>
    </appender>

    <appender-ref ref="CONSOLE"/>
</configuration>